.top-container{
    background-color: #d8e3e7;
    padding-top: 100px;
    padding-bottom: 100px;
    position: relative;
    font-weight: bold;
}

body {
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;

}
h1 {
    margin-top: 30px;
    margin-bottom: 0px;
    font-family: 'Montserrat', sans-serif;
    font-size: 5.6em;
    color: #126e82;

}
h2 {
    margin-top: 0px;
    font-family: 'Roboto', sans-serif;
    font-size: 2.50rem;
    color: #126e82;
}
h3 {
    font-family: 'Roboto', sans-serif;
    color: #126e82;
}
.footer-link {
    margin: 12px 7px;
    font-family: 'Roboto', sans-serif;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    color: #d8e3e7;
    font-size: 1.5rem;
    font-weight: 100;
    padding: 40px;
    background-color: #126E82;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
}

.middle-container {
    background-color: #d8e3e7
}
.bottom-container {
    background-color: #126E82

}
.bottom-cloud {
    position: absolute;
    top: 70%;
    left: 20%;

}
.top-cloud {
    position: absolute;
    left:68%;
    top: 10%;
}
.profile-photo {
    border-radius: 100%;
}
.skill-row{
    margin: 100px auto;
    width: 55%;
    text-align: left;
    line-height: 2;
}

.hardskill-image {
    float:left;
    padding-right: 40px;
}
.interests-image {
    float:right;
    padding-left: 40px;
    width: 22%;
}
.about-text {
    line-height: 2;

}

hr {
    margin: 30px auto;
    border-style: dotted none none none;
    width: 10%;
    border-width: 10px;
    color: #132c33;
}

.BUTTON_CSK {
   -webkit-border-radius: 15px;
   -moz-border-radius: 15px;
   border-radius: 15px;
   color: #FFFFFF;
   font-family: Verdana;
   font-size: 1rem;
   font-weight: 100;
   padding: 10px;
   margin-bottom: 15px;
   background-color: #126E82;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
}

.BUTTON_CSK:hover {
   border: solid #000000 0;
   background: #126E82;
   background-image: -webkit-linear-gradient(top, #126E82, #51C4DC);
   background-image: -moz-linear-gradient(top, #126E82, #51C4DC);
   background-image: -ms-linear-gradient(top, #126E82, #51C4DC);
   background-image: -o-linear-gradient(top, #126E82, #51C4DC);
   background-image: -webkit-gradient(to bottom, #126E82, #51C4DC);
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   text-decoration: none;